@import './fonts.css' layer(base); /* for custom fonts */

@import 'tailwindcss';

@theme {
	--font-*: initial;
	--font-lato: 'Lato', sans-serif;
	--font-montserrat: 'Montserrat', sans-serif;

	--color-brand-primary: #8d7824;
	--color-brand-dark: #2a2a2a;
	--color-brand-gray: #eaeaea;
	--color-brand-gray-dark: #666666;

}

@utility container {
	margin-inline: auto;
	padding-inline: 1rem;
}

@plugin "@tailwindcss/typography";
@plugin "@tailwindcss/forms";

@utility btn {
	@apply transition-colors duration-300 ease-linear;
}

@utility btn-primary {
	@apply bg-black text-white uppercase text-xs tracking-wider font-bold font-montserrat py-3 px-7 hover:bg-brand-gray-dark transition-colors duration-300 inline-block;
}

@layer base {
	html {
		@apply font-lato antialiased;
	}

	[x-cloak] {
		@apply hidden!;
	}
}
